.EventPageHeader{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    padding-bottom: 39px;
    padding-top: 30px;
}

.EventPageContainer{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.ButtonContainer{
    display: flex;
    gap: 20px;
}
.SearchContainer{
    display: flex;
    justify-content: space-between;
}