.btn{
    height: 39px;
    background: #FFFFFF;
    border: 1.5px solid #0065FF;
    border-radius: 10px;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

.btn.active{
    background: #0065FF;
}

.btn > p{
    color: #0065FF;
}

.btn.active > p{
    color: #E6F0FF;
}

