.MainPageHeader{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    margin-bottom: 41px;
}

.MainPageContainer{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding-top: 39px;

}
.MainEventsContainer{
    max-width: 760px;
    width: 100%;
}
.ButtonContainer{
    display: flex;
    gap: 20px;
}