.EventPageHeader{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    padding-bottom: 39px;
    padding-top: 30px;
}
.EventPageTitle{
    font-family: 'Suisse Intl';
    color: #0065FF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}
.EventPageContainer{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.ButtonContainer{
    display: flex;
    gap: 20px;
}
.SearchContainer{
    display: flex;
    justify-content: space-between;
}