@font-face {
    font-family: 'Suisse Intl', sans-serif;
    src:url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=Roboto&family=Source+Sans+Pro&display=swap');

  }

  .container {
    display: flex;
    justify-content: space-around;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 55px;
    margin-top: 60px;
  }
  
  .container > div {
    font-size: 20px;
  }
  
  .firstBLock{
    max-width: 642px;
    width: 100%;
    padding: 40px 0px 0px 40px;

  }
  
  .BannerTitle{
    font-family: 'Nunito Sans';
    color: #0065FF;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 20px;
  }
 .eventsVer{
    max-width: 1060px;
    width: 100%;
}